## Mac ##
.DS_Store
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes
.Trash
.Trash-*
._*

## tmux plugins directory
config/.config/tmux/plugins/

## Encrypted files - managed by encrypted-files.json ##
aws/.aws/config
config/.config/git/config
## End encrypted files ##
